body {
  /* background-color: rgb(43, 46, 73); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 26%,
    rgb(12, 12, 122) 77%,
    #0057d2 100%
  );
}
/* navbar logo */
.navbar-brand {
  background-color: red;
  padding: 10px;
}

/* first row */
#one {
  background-image: url('./img/katA/fot2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 400px;
  height: 100%;
  background-color: rgb(192, 93, 93);
  border: 1px solid white;
  margin-bottom: 10px;
}
#two {
  position: relative;
  min-height: 300px;
  height: 300px;
  height: auto;
  background-color: rgb(97, 112, 160);
  margin-bottom: 5px;
  color: white;
  text-align: left;
}
#socialmedia {
  position: relative;
  min-height: 100px;
  height: auto;
  background-color: rgb(97, 112, 160);
  color: white;
  text-align: center;
  font-size: 18px;
}
#socialVertical {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 30%;
}
#youtube {
  background-color: rgb(255 0 0);
  padding: 5px;
  border-radius: 5px;
}
#fb {
  background-color: rgb(66 103 178);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
a {
  color: white;
}
#uzaleznia {
  bottom: 0;
  position: absolute;
  left: 50%;
}

/* metki */
#metka1 {
  position: absolute;
  background-color: rgb(224, 10, 64);
  opacity: 80%;
  color: white;
  width: auto;
  margin: 0 auto;
  height: auto;
  top: 45%;
  padding: 10px;
  text-align: center;
}
#metka2 {
  position: absolute;
  height: 20%;
  height: auto;
  background-color: rgb(39, 36, 37);
  color: rgb(16, 241, 16);
  right: 10%;
  width: 60%;
  text-align: center;
  opacity: 90%;
}
#zamiastMetki {
  background-color: red;
  color: white;
  padding: 10px;
  width: 60%;
}
/* images */
img {
  width: 100%;
  height: 100%;
}
/* text */
#white {
  color: white;
}
/* footer */
#kontakt0 {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #e62739;
  height: 70px;
  text-align: left;
  padding: 2%;
}
#kontakt1 {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #e62739;
  height: 70px;
  text-align: right;
  padding: 2%;
}
#kontakt2 {
  margin-top: 10px;
  color: white;
  background-color: rgb(78, 78, 78);
  height: 70px;
  font-weight: bold;
}
